certifi
chardet
click
cmake
comtypes
cvzone
decorator
dlib
face-recognition
face-recognition-models
flask
idna
imageio
imageio-ffmpeg
mediapipe
moviepy
numpy
opencv-python
Pillow
proglog
pyautogui
pycaw
pygame
requests
tqdm
urllib3
wincertstore